{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}
{% if page.display['langs'] %}
{% if page.langs|length > 1 %}
<div>
	{% for lang in page.langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}
{% endif %}

{% if page.display['tags'] %}
{% for tag_type in page.tags_display %}
<a href="{{ tag_type.url }}">{{ tag_type.description }}</a><br/>
{% for tag in tag_type.tags %}
<a href="{{tag.url}}">{{ tag.description }}</a> {% if loop.last == False %} - {% endif %}
{% endfor %}
<br/>
{% endfor %}
{% endif %}

{{page.content}}

{% if page.collection.prev %}
<a href="{{page.collection.prev.url}}">Previous</a>
{% endif %}
{% if page.collection.next %}
<a href="{{page.collection.next.url}}">Next</a>
{% endif %}

{% endblock %}
