.cucumber {
  height: 30px;
  background: #222;
  background-color: #222;
  color: #fff;
}

.cucumber a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.cucumber a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }
