{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}
{% if page.display['cucumber'] == True %}
{% include 'includes/cucumber.html' %}
{% endif %}

<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>{{page.title}}</b></h1>
</header>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer -->
<div class="w3-content" style="max-width:1400px">

<!-- Grid -->
<div class="w3-row">

{{page.content}}

<!-- Prezs entries -->
<div class="w3-col l8 s12">

	{% if page.prezs.prezs|length == 0 %}
	{{ i18n['navigation']['nothing'][page.lang] }}
	{% endif %}

	{% for post in page.prezs.prezs %}
	<div class="w3-card-4 w3-margin w3-white">

		<div class="w3-container">
			<h3><b>{{ post.title }}</b></h3>
			<h5><span class="w3-opacity">{{ post.date }}</span></h5>
		</div>

		<div class="w3-container">
		  <p><a href="{{ post.url }}" class="w3-button w3-padding-large w3-white w3-border"><b>{{ i18n['navigation']['readmore'][page.lang] }}</b></a></p>
		</div>

	</div>
	{% endfor %}

	{% if  page.prezs.prev_url or page.prezs.next_url%}
	<div class="w3-container">
		<p>
		{% if page.prezs.prev_url %}
		<a href="{{ page.prezs.prev_url }}" class="w3-button w3-padding-large w3-grey w3-border">{{ i18n['navigation']['prev'][page.lang] }}</a>
		{% endif %}
		{% if page.prezs.next_url %}
		<a href="{{ page.prezs.next_url }}" class="w3-button w3-padding-large w3-grey w3-border">{{ i18n['navigation']['next'][page.lang] }}</a>
		{% endif %}
		</p>
	</div>
	{% endif %}

<!-- END PREZS ENTRIES -->
</div>

<!--  sidebar -->
<div class="w3-col l4">
{% include 'includes/sidebar.html' %}
</div>

</div>

</div>

{% endblock %}
