{% extends "base_prez.html" %}

{% block additional_scripts %}
<link rel="stylesheet" href="{{ page.theme['reveal_css']}}">
<link rel="stylesheet" href="{{ page.theme['theme'] }}" id="theme">
<script src="{{ page.theme['conf'] }}"></script>
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}
<div class="yasifipo">
{% if page.display['cucumber'] == True %}
<div class='cucumber-prez'>
{% for i in page.cucumber %}
<a href="{{i['url']}}">{{i['title']}}</a> >
{% endfor %}
<a href="">{{page.title}}</a>
</div>
{% endif %}

{% if page.display['langs'] == True %}
{% if langs|length > 1 %}
<div>
	{% for lang in langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}
{% endif %}

{% if page.display['tags'] %}
<div>
{% for tag_type in page.tags_display %}
<a href="{{ tag_type.url }}">{{ tag_type.description }}</a><br/>
{% for tag in tag_type.tags %}
<a href="{{tag.url}}">{{ tag.description }}</a> {% if loop.last == False %} - {% endif %}
{% endfor %}
<br/>
{% endfor %}
</div>
{% endif %}
</div>

<div class="reveal-viewport">
	<div class="reveal">
		<div class="slides">
			<section data-markdown data-separator="^\n~~~\n$" data-separator-vertical="^\n~~\n$" data-notes="^Note:" data-element-attributes="{_\s*?([^}]+?)}">>
				<script type="text/template">
	{{ page.content }}
				</script>
			</section>
		</div>
	</div>
</div>

<script src="{{ page.theme['head']}}"></script>
<script src="{{ page.theme['reveal_js'] }}"></script>
<script src="{{ page.theme['marked'] }}"></script>
<script src="{{ page.theme['markdown'] }}"></script>

<script>
	Reveal.initialize(conf);
</script>
{% endblock %}
