{% extends "base.html" %}

{% block additional_scripts %}
<link rel="stylesheet" href="{{ theme['reveal_css']}}">
<link rel="stylesheet" href="{{ theme['theme'] }}" id="theme">
<script src="{{ theme['conf'] }}"></script>
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<div class='cucumber'>
{% for i in cucumber %}
<a href="{{i['url']}}">{{i['title']}}</a> >
{% endfor %}
<a href="{{ own }}">{{title}}</a>
</div>
{% if category %}
<a href="{{category['url']}}">{{category['descr']}}</a>
{% endif %}
{% if langs|length > 1 %}
<div>
	{% for lang in langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}
<div class="reveal">
	<div class="slides">
		<section data-markdown data-separator="^\n~~~\n$" data-separator-vertical="^\n~~\n$" data-notes="^Note:" data-element-attributes="{_\s*?([^}]+?)}">>
			<script type="text/template">
{{ content }}
			</script>
		</section>
	</div>
</div>

<script src="{{ theme['head']}}"></script>
<script src="{{ theme['reveal_js'] }}"></script>
<script src="{{ theme['marked'] }}"></script>
<script src="{{ theme['markdown'] }}"></script>

<script>
	Reveal.initialize(conf);
</script>
{% endblock %}
