{% extends "base.html" %}

{% macro display_node(node) %}
{% if node['first_level'] == False %}
<li><a href="{{node['chapter_url']}}">{{node['chapter_title']}}</a>
{% endif %}
<ol>
{% for child in node['children'] %}
	{% if child['typ'] == 'dir' %}
		{{ display_node(child) }}
	{% else %}
	<li>
	<a href="{{child['url']}}">{{child['title']}}</a>
	</li>
	{% endif %}
{% endfor %}
</ol>
{% if node['first_level'] == False %}
</li>
{% endif %}
{% endmacro %}

{% block additional_scripts %}
{% if page.display['toc'] == True %}
<link rel="stylesheet" href="{{ page.toc_css }}">
{% endif %}
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}
{% if page.display['cucumber'] == True %}
<div class='cucumber-toc'>
{% for i in page.cucumber %}
<a href="{{i['url']}}">{{i['title']}}</a> {% if i != page.cucumber[page.cucumber|length -1] %} > {% endif %}
{% endfor %}
</div>
{% endif %}
{% if page.display['langs'] %}
{% if page.langs|length > 1 %}
<div>
	{% for lang in page.langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}
{% endif %}

{% if page.display['tags'] %}
{% for tag_type in page.tags_display %}
<a href="{{ tag_type.url }}">{{ tag_type.description }}</a><br/>
{% for tag in tag_type.tags %}
<a href="{{tag.url}}">{{ tag.description }}</a> {% if loop.last == False %} - {% endif %}
{% endfor %}
<br/>
{% endfor %}
{% endif %}

{{page.content}}

{% if page.display['toc'] == True %}
<div class='toc'>
{{display_node(page.toc)}}
</div>
{% endif %}
{% endblock %}
