{% extends "base_prez.html" %}

{% block additional_scripts %}
<link rel="stylesheet" href="{{ page.theme['reveal_css']}}">
<link rel="stylesheet" href="{{ page.theme['theme'] }}" id="theme">
<script src="{{ page.theme['conf'] }}"></script>
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}


<div class="yasifipo" id='cucumber'>
{% if page.display['cucumber'] == True %}
<div class='cucumber-prez'>
{% for i in page.cucumber %}
<a href="{{i['url']}}">{{i['title']}}</a> >
{% endfor %}
<a href="">{{page.title}}</a>
</div>
{% endif %}
{% if page.display['sidebar'] == True %}
<button class="w3-button w3-light-grey w3-xlarge" onclick="w3_open()">☰</button>
{% endif %}
</div>

{% if page.display['sidebar'] == True %}
<div class="w3-col l4 w3-light-grey" style="display:none" id="sidebar">
<button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>

{% include 'includes/sidebar.html' %}
</div>
{% endif %}

<div class="reveal-viewport">
	<div class="reveal">
		<div class="slides">
			<section data-markdown data-separator="^\n~~~\n$" data-separator-vertical="^\n~~\n$" data-notes="^Note:" data-element-attributes="{_\s*?([^}]+?)}">>
				<script type="text/template">
	{{ page.content }}
				</script>
			</section>
		</div>
	</div>
</div>

<script src="{{ page.theme['head']}}"></script>
<script src="{{ page.theme['reveal_js'] }}"></script>
<script src="{{ page.theme['marked'] }}"></script>
<script src="{{ page.theme['markdown'] }}"></script>

<script>
	Reveal.initialize(conf);
</script>

<script>
function w3_open() {
    document.getElementById("cucumber").style.display = "none";
    document.getElementById("sidebar").style.display = "block";
}
function w3_close() {
	  document.getElementById("cucumber").style.display = "block";
    document.getElementById("sidebar").style.display = "none";
}
</script>

{% endblock %}
