<meta http-equiv="content-type" content="text/html; charset=utf-8">
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block additional_scripts %}{% endblock %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/cucumber.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/yasifipo.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
	</head>

	<body class="w3-light-grey">
		{% include 'includes/header.html' %}
		{% block body %}{% endblock %}
		{% include 'includes/footer.html' %}
	</body>
</html>
