{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
{{cat['descr']}}
{% endblock %}

{% block body %}

<h1>{{cat['descr']}}</h1>

{% if langs|length > 1 %}
<div>
	{% for lang in langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}

{% for typ in list_ %}
{{typ['descr']}}<br/>
{% for item in typ['items'] %}
<a href="{{item['url']}}">{{item['title']}}</a><br/>
{% endfor %}
{% endfor %}

{% endblock %}
