{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
TODO
{% endblock %}

{% block body %}

{% if langs|length > 1 %}
<div>
	{% for lang in langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}

{% for cat in list_ %}
	<h1><a href="{{ cat['category']['url'] }}">{{ cat['category']['descr'] }}</a></h1>
	{% for typ in cat['items'] %}
	{{typ['descr']}}<br/>
		{% for item in typ['items'] %}
		<a href="{{item['url']}}">{{item['title']}}</a><br/>
		{% endfor %}
	{% endfor %}

{% endfor %}

{% endblock %}
