{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}

<h1><a href="{{ page.tag.type.url }}">{{page.tag.type.description}}</a></h1>
<h1><a href="{{ page.tag.url }}">{{page.tag.description}}</a></h1>

{% if page.langs|length > 1 %}
<div>
	{% for lang in page.langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}

{% for item in page.tag.items %}
<a href="{{item.url}}">{{item.title}}</a> ({{ item.type_description }})<br/>
{% endfor %}

{% endblock %}
