{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
{{tag['descr']}}
{% endblock %}

{% block body %}

<h1><a href="{{ tag_type['url'] }}">{{tag_type['descr']}}</a></h1>
<h1><a href="{{ tag['url'] }}">{{tag['descr']}}</a></h1>

{% if langs|length > 1 %}
<div>
	{% for lang in langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}

{% for item in items %}
<a href="{{item['url']}}">{{item['title']}}</a> ({{ item['type'] }})<br/>
{% endfor %}

{% endblock %}
