{% extends "base.html" %}

{% block additional_scripts %}
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block body %}

<h1><a href="{{ page.tag_type.url }}">{{page.tag_type.description}}</a></h1>

{% if page.langs|length > 1 %}
<div>
	{% for lang in page.langs %}
	<a href="{{ lang['url'] }}">{{ lang['descr'] }}</a>
	{% endfor %}
</div>
{% endif %}

{% for tag in page.tag_type.tags %}
<h1><a href="{{tag.url}}">{{tag.description}}</a><br/></h1>
{% for item in tag.items %}
<a href="{{item.url}}">{{item.title}}</a> ({{ item.type }})<br/>
{% endfor %}
{% endfor %}

{% endblock %}
